html, body {
    height: 100%;
    margin: 0;
  }

.btn {
  margin-bottom: 15px;
}

.card-img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero {
  background-image: url("./assets/background-beverage-breakfast-brown-414645.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-inner {
  text-align: center;
  text-shadow: 0 0 10px black;
}

.hero-inner h1 {
  font-size: 3em;
  padding-bottom: 10px;
}

.search-type-btn {
  display:inline-block;
  width: 100%;
  height: 250px;
  font-size: 3rem !important;
  text-shadow: 0 0 10px black;
  border-color: #ddd;
}

.job-btn-select {
  position: relative;
  background: url("./assets/apple-devices-books-business-coffee-572056.jpg");
  background-size: 102%;
  background-position: center;
  -webkit-transition: background-size 0.5s ease !important;
  -moz-transition: background-size 0.5s ease !important;
  -o-transition: background-size 0.5s ease !important;
  transition: background-size 0.5s ease !important;
}

.job-btn-select:hover {
  background-size: 120%;
}

.job-btn-deselect {
  position: relative;
  background: url("./assets/apple-devices-books-business-coffee-572056.jpg");
  filter: grayscale(100%);
  background-size: 102%;
  background-position: center;
  -webkit-transition: background-size 0.5s ease !important;
  -moz-transition: background-size 0.5s ease !important;
  -o-transition: background-size 0.5s ease !important;
  transition: background-size 0.5s ease !important;
}

.job-btn-deselect:hover {
  background-size: 120%;
}

.people-btn-select {
  position: relative;
  background: url("./assets/adult-african-american-woman-blur-business-1181352.jpg");
  background-size: 102%;
  background-position: center;
  -webkit-transition: background-size 0.5s ease !important;
  -moz-transition: background-size 0.5s ease !important;
  -o-transition: background-size 0.5s ease !important;
  transition: background-size 0.5s ease !important;
}

.people-btn-select:hover {
  background-size: 120%;
}

.people-btn-deselect {
  position: relative;
  background: url("./assets/adult-african-american-woman-blur-business-1181352.jpg");
  filter: grayscale(100%);
  background-size: 102%;
  background-position: center; 
  -webkit-transition: background-size 0.5s ease !important;
  -moz-transition: background-size 0.5s ease !important;
  -o-transition: background-size 0.5s ease !important;
  transition: background-size 0.5s ease !important;
}

.people-btn-deselect:hover {
  background-size: 120%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.posting-img {
  max-width: 100%;
  margin: auto;
}

#jobSideBar {
  text-align: center;
  padding-top: 56px;
  margin-top: 0px;
}

#root {
  margin-bottom: 0 !important;
}

@media (min-width: 768px) {
  #jobSideBar {
    position: sticky;
    height: 100vh;
    top: 0;
  }
  .hero-inner {
    text-align: left;
  }
}