* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainBack: #e9ecef;
}

.profile_wrap {
	height: 100vh;
	overflow-y: hidden;
	background-color: var(--mainBack);

	/* border: 1px solid yellow; */
}

.profile_flex {
	height: 100%;
	display: flex;
	flex-wrap: nowrap;

	/* border: 1px solid black; */
}

.info_wrap {
	margin-left: 1%;
	min-width: 320px;
	height: 100%;
}

.rounded-pf-image {
  display: block;
  height: 160px;
  width: 160px;
  border-radius: 10rem;
  border: 4px solid white;
  margin: 10px auto 0;
}

.stars_wrap,
.profileName,
.profileRole,
.profileEmail,
.profileLocation,
.profileNumber {
	text-align: center;
	color: black;
}

.profileName {
	height: 40px;
	font-size: 32px;
}

.profileRole,
.profileEmail,
.profileLocation,
.profileNumber {
	height: 26px;
}

.links_wrap {
	width: 300px;
	height: 200px;
	margin: 0 auto 0;

	/* border: 1px solid blue; */
}

.bioAndComments_wrap {
	height: 100%;
	background-color: var(--mainBack);

	/* border: 1px solid green; */
}

.bio_wrap {
	width: 94%;
	height: 35%;
}

.comments_wrap {
	height: 65%;
	padding-bottom: 60px;
	overflow-y: scroll;

	/* border: 1px solid red; */
}
.bio_plate {
	width: 65%;
	max-height: 94%;
	margin-top: 2%;
	padding: 4%;
	/* background-color: white; */
	overflow-y: scroll;

	/* border: 1px solid blue; */
}

.comment_plate {
	width: 94%;
	margin: 10px auto 0;
	padding: 4%;
	border-radius: 3px;;
	/* background-color: rgb(70,115,160); */
	background-color: rgb(100,130,170);
	color: white;
	box-shadow: 1px 1px 0.5px 0px rgba(0,0,0,0.2);
}

.comments_fade {
	position: fixed;
	display: block;
	width: 94%;
	margin: 0 auto 0;
	border: 1px solid red;
}




/***************************
640px - stack major sections
****************************/
@media (max-width: 641px){
	.profile_wrap {
		height: initial;
		overflow-y: initial;
	}

	.profile_flex {
		height: initial;
		flex-direction: column;
	}

	.info_wrap {
		margin-left: initial;
	}

	.info_wrap,
	.bioAndComments_wrap {
		width: 100%;
	}
}
